<footer class="footer print-hidden">
  <div class="container text-center">
    <ul class="footer-nav pt-2 pb-3">
        <li><a target="_new" href="//www.actionstep.com/nz/contact-us/">Contact</a></li>
        <li><a target="_new" href="//www.actionstep.com/nz/about/">About us</a></li>
        <li><a target="_new" href="//www.actionstep.com/nz/resources/faq/">FAQ</a></li>
        <li><a target="_new" href="//status.actionstep.com/">System status</a></li>
        <li><a target="_new" href="//go.actionstep.com">Login</a></li>
    </ul>
    <div class="copyright pt-3">
        Copyright © {{#link 'help_center'}}{{help_center.name}}{{/link}}
    </div>
  </div>
</footer>
